<body bgcolor="Azure"></body>

<table border="1" style="width:1325px">
	<thead>
	 <tr>
		<th>Accession</th>
		<th>Name</th>
		<%if @chromosome%>
		<th>Chr</th>
		<%end%>
		<%if @band%>
		<th>Band</th>
		<%end%>
		<%if @domain%>
		<th>Domain</th>
		<%end%>
		<th>Sequence</th>
		<th>Pos</th>
		<%if @precede%>
		<th>Preceding Sequence</th>
		<%end%>
		<th>Cleavages</th>	
		<%if @isoform%>	
		<th>Isoforms</th>
		<%end%>
		<th>Evidences</th>
	</tr>
	</thead>

<% @input.each do |d| %>
<%= d.class%><br>
<%end%>
</table>


